.home /deep/ {
    width: 100%;  
    display: inline-block;
    .search-value {
        margin-top: 3.4rem;
        width: 100%;
        height: 3.2rem; 
        padding: .3rem .5rem;
        color: #00bbd3;
    }
    // .home-swipe{
    //     width: 100%; 
    //     margin-top: 3rem;
    //     ul{
    //         width: 100%;
            
    //         >li{
    //             width: 100%;
    //             height: 15rem;
    //             >div:nth-of-type(1){
    //                 width: 100%;
    //                 >img{
    //                     width: 100%;
    //                     height: 15rem; 
    //                 }
    //             } 
    //         }
    //     }
    // }
    .home-classify{
        width: 100%; 
        margin-top: 3.8rem;
        display: flex;
        flex-flow: wrap;
        justify-content: flex-start;
        padding: 0 1px;
        >li{
            width: calc(25% - 2px);  
            margin: 1px;
            background-color: white;
            >div{
                >div:nth-of-type(1){ 
                    display: flex; 
                    justify-content: center;
                    margin-top: 5px;
                    font-size: 1.8rem; 
                    color: #faa046;
                    >img{
                        width: 40px;
                        height: 40px; 
                    }
                }
                >div:nth-of-type(2){ 
                    padding: 10px; 
                    font-size: .7rem;
                    text-align: center;
                    overflow: hidden; 
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }    
        }
    }
    .home-content{ 
        width: 100%; 
        padding: 0 15px; 
        .home-list:nth-of-type(2){
            
        }
        .home-list{
            width: 100%;
            background-color: white;
            margin-bottom: 2rem;
            .section-title{
                margin: 0 25px;
                width: calc(100% - 50px);
                height: 4rem;
                display: flex;  
                align-items: center;
                border-bottom: 2px solid #000000;
                justify-content: space-between; 
                // position: sticky;top: 3rem;#519f97; 
                // background-color: #f6f7f8;
                >div:nth-of-type(1){
                    width: 80%;
                    display: flex;  
                    align-items: center;
                    >h3{
                        width: 100%;
                        height: 100%; 
                        line-height: 4rem;
                        color: #000000;
                        padding-left: 5px;
                        font-size: 1.2rem;
                        font-weight: 600;
                    }
                    >img{
                        width: 25px;
                        height: 25px;
                    }
                }
                
                >div:nth-of-type(2){
                    height: 100%; 
                    line-height: 4rem;
                    color:  #000000;
                    padding-left: 5px;
                    font-size: 1rem;
                    font-weight: 600;
                }
            }
            .home-list-re{
                width: 100%; 
                >li:nth-of-type(1){
                    padding-top: 10px;
                }
                >li{
                    width: 100%;
                    padding: 0 0 25px 0; 
                    
                    >div{ 
                        border-radius: .25rem;
                        box-shadow: 0px 0px 8px 0px #5d61e1;
                        font-family: -apple-system, BlinkMacSystemFont, segoe ui, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, arial, sans-serif;
                            -webkit-font-smoothing: subpixel-antialiased;
                        >div:nth-of-type(1){
                            width: 100%;
                            height: 12rem;
                            >img{
                                width: 100%;
                                height: 12rem;
                            }
                        }
                        >div:nth-of-type(2){
                            border-top: 4px solid #989bec;
                            text-align: left; 
                            // color: #5d61e1;
                            overflow: hidden;
                            font-size: 1rem;
                            line-height: 2rem;
                            font-weight: 600;
                            padding: 0.5rem;
                            display: -webkit-box;
                            text-overflow: ellipsis;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                        }
                    }
                }
                
            }
            .home-list-tips{
                width: 100%; 
                >li:nth-of-type(1){
                    padding-top: 10px;
                }
                >li{
                    width: 100%;
                    padding: 0 0 25px 0; 
                    >div{ 
                        border-radius: .25rem;
                        box-shadow: 0px 0px 8px 0px #5d61e1;
                        >div:nth-of-type(1){
                            width: 100%;
                            height: 160px;
                            >img{
                                width: 100%;
                                height: 160px;
                            }
                        }
                        >div:nth-of-type(2){
                            width: 100%;
                            position: relative;
                            font-family: -apple-system, BlinkMacSystemFont, segoe ui, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, arial, sans-serif;
                            -webkit-font-smoothing: subpixel-antialiased;
                            >div:nth-of-type(1){ 
                                text-align: left;  
                                overflow: hidden;
                                font-size: 1rem;
                                line-height: 20px;
                                font-weight: 600;
                                padding: 0.5rem 0 0.2rem 0.5rem;
                                display: -webkit-box;
                                text-overflow: ellipsis;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical; 
                            }
                            >div:nth-of-type(1):after{
                                transition: 0.3s all ease;
                                position: absolute;
                                content: ""; 
                                top: -10px;
                                left: 50%;
                                margin-left: -10px;
                                border-style: solid;
                                border-width: 0 10px 10px 10px;
                                border-color: #fff transparent;
                            }
                            >div:nth-of-type(2){
                                padding: 0.5rem; 
                                color: #777;
                                font-size: 15px;
                                line-height: 1.6em;
                            }
                            >div:nth-of-type(3){
                                padding: 0.5rem; 
                                font-size: .8rem;
                                color: #ccc;  
                                text-align: right;
                                 
                                
                            }
                        }
                    }
                }
                
            }
            .home-list-new-1{
                width: 100%; 
                padding: 0 25px;
                >li:nth-of-type(1){
                    padding-top: 10px;
                }
                >li{
                    width: 100%;
                    padding: 0 0 25px 0; 
                    
                    >div{ 
                        border-radius: .25rem;
                        // box-shadow: 0px 0px 8px 0px #5d61e1;
                        box-shadow: 0px 0px 10px 0px #cdcdd1;
                        background-color: white;
                        >div:nth-of-type(1){
                            width: 100%;
                            height: 12rem;
                            >img{
                                width: 100%;
                                height: 12rem;
                            }
                        }
                        >div:nth-of-type(2){
                            width: 100%;
                            position: relative;
                            font-family: -apple-system, BlinkMacSystemFont, segoe ui, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, arial, sans-serif;
                            -webkit-font-smoothing: subpixel-antialiased;
                            >div:nth-of-type(1){ 
                                text-align: left;  
                                overflow: hidden;
                                font-size: 1rem;
                                line-height: 2rem;
                                font-weight: 600;
                                padding: 0.5rem 0 0.2rem 0.5rem;
                                display: -webkit-box; 
                                text-overflow: ellipsis;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical; 
                                // border-top: 4px solid #989bec;
                            } 
                            >div:nth-of-type(2){
                                padding: 0.5rem; 
                                font-size: .8rem;
                                color: rgb(163, 163, 163);  
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                >img{
                                    width: 20px;
                                    height: 20px;
                                    margin-right: 5px;
                                }
                                >div{
                                    margin-right: 5px;
                                }
                            } 
                        }
                    }
                } 
            }
            .load-more{  
                display: flex;
                justify-content: center;
                color: #00BBD3;
                padding: 2rem 0;
                >div{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border:1px solid #e1e1e1;
                    background: #fff;
                    font-size: 0.8rem; 
                    height: 40px; 
                    width: auto;
                    padding: 0 60px;
                    text-align: center; 
                    >div{
                        font-weight: 600;
                        padding-right: 10px;
                    }
                    >i{
                         font-weight: 800;
                         font-size: 0.8rem;
                    }
                }
            }
            .no-more{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 2rem; 
                height: 40px;
                 
            }
            .home-list-new-2{
                width: 100%;
                display: flex;
                flex-wrap: wrap; 
                padding: 0 12.5px;
                li{
                    width: 50%;
                    
                    >div{
                        width: 100%;
                        padding: 12.5px;
                        >div:nth-of-type(1){
                            width: 100%; 
                            height: 7rem;
                            >img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                        >div:nth-of-type(2){
                            width: 100%; 
                            
                            >h3{
                                overflow: hidden;
                                display: -webkit-box;
                                text-overflow: ellipsis;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                                margin: 10px 0;
                                color: #892074; 
                                font-weight: bold; 
                                font-size: 14px;
                                line-height: 1.2;
                                text-align: center;
                            }
                            >div{
                                text-align: center;
                                color: #F4CE33;
                            }
                        }
                    }
                }
            }
        }
    }
    
}

 